.content{
    width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}


.card{
  background: lightblue url("https://www.pokemon.com/static-assets/app/static3/img/og-default-image.jpeg") no-repeat fixed center;
  background-origin: border-box;  
  border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #e8f5ee;
    width: 150px;
    height: 150px;
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
}


.card:active {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
  }


.card.flip {
    transform: rotateY(180deg);
    cursor: pointer;
  }

  .front, .back {
    background-color: #ffffff;
    width: 92%;
    height: 90%;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    top: -3px;
    right: -4px;
    backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

.no-card{
  background: #df0e40!important;
}

.yes-card{
  background: #ccc!important;
}